@charset "utf-8";
/*////////////////////////BRAND///////////////////////////////////*/
.logo{width:270px; height:100px; margin:0; padding:0; text-indent:-9999em; position:absolute; top:12px; left:0; z-index:10;}
.logo a{display:block; text-indent:-9999em;}
/*////////////////////////TOPBAR//////////////////////////////////*/
#topbar{ width:100%; position:relative; z-index:1000;}
#topbar .ads{ padding:10px 0;}
.topbar{ width:990px; margin:0 auto; padding:0; list-style:none outside none; text-align:right; position:relative; z-index:1000; display:block;}
.topbar li{ display:inline; font-size:11px; padding:0 0 0 8px; position:relative;}
.topbar li a,.topbar li b{ line-height:24px;}
.topbar .first{ float:left; display:inline; border-right:0; background:#e5e5e5;}
.topbar .last{ padding-right:0 !important; border-right:0;}
.topbar #enquiry{width:180px; padding:10px 15px 0 15px; background:#fff; position:absolute; top:18px; left:-3px; border:1px solid #cfcfcf; text-align:left; z-index:1000; visibility:hidden;}
.topbar #enquiry h4{ margin:0 0 8px 0 !important; padding-bottom:2px; font-size:12px; border-bottom:1px solid #eee;}
.topbar #enquiry ul{ margin:0 !important; padding:0 0 10px 0;}
.topbar #enquiry ul li{ padding:0; display:block !important; border:none !important;}
.topbar #enquiry ul li a{line-height:20px;}
.topbar #enquiry .guide li{ background:url(../img/arrow_red.gif) no-repeat scroll 0 50%; padding:0 0 0 10px !important; height:100%;}
/*////////////////////////SEARCH/////////////////////////////////*/
#hdr .search{ width:400px; height:32px !important; position:absolute; top:23px; left:350px; background:#f7f7f7 url("../img/searchbox.png") no-repeat scroll 0 0; overflow:hidden; display:block; z-index:1100;}
#hdr .search input.input-text{ width:330px; color:#666; font-size:13px !important; background:none; border:0 none; font-size:100%; margin:0; padding:7px 9px; text-align:left; vertical-align:middle; float:left;}
#hdr .search input.submit{background:transparent url("../img/searchbt.png") no-repeat scroll 50% 50%; width:56px; height:32px; border:0 none; color:#fff; text-indent:-9999em; font-size:0; position:absolute; right:0; top:0; cursor:pointer; overflow:hidden; z-index:100;}
/*////////////////////////NAVIGATION///////////////////////////////*/
#hdr{ position:relative; text-align:center; margin:0 auto; z-index:10;}
#hdr #main{height:100px; position:relative;padding: 5px 0px;}
#hdr #cart{ text-align:right; float:right; padding-top:30px;}
#hdr #cart li{ float:left; display:inline; padding-left:25px; font-weight:bold;}
#hdr #cart .cart{ background:url("../img/cart.gif") no-repeat scroll 0 0; padding-left:25px;}
#hdr #navigation{ margin:0 auto; display:block; height:35px; background:#146eb4; position:relative; z-index:100;}
#hdr #navigation .nav{ margin:0; padding:0; list-style:none outside none; background:#8F0100; border-radius:5px; position:relative;}
#hdr #navigation .nav li{ float:left; display:inline; font-weight:bold; border-color: #15416F #790000 #3B6692 #A20000; border-style:solid; border-width:0 1px;}
#hdr #navigation .nav li a{ color:#fff; padding:0 15px; text-decoration:none; outline:none; line-height:35px; display:block;}
#hdr #navigation .nav li a:hover,#hdr #navigation .nav li.active{ background:#770000; color:#fff; text-decoration:none; outline:none;}
#hdr #navigation .nav .first{border-left: 0 none;}
#hdr #navigation .nav .last{border-right: 0 none;}
#hdr #navigation .more{ position:absolute; top:0; right:0; float:right; clear:right; background:#254E7b; border-left:1px solid #15416f;}
#hdr #navigation .more a{ color:#fff; font-weight:bold; padding:0 15px; text-decoration:none; padding-right:15px; outline:none; line-height:35px; display:block;}
#hdr #navigation .more .moreList{ width:140px; padding:10px 15px; background:#fff; border-right:1px solid #558abe; border-bottom:1px solid #558abe; border-left:1px solid #558abe; text-align:left; position:absolute; top:35px; right:0; z-index:800; visibility:hidden;}
#hdr #navigation .more .moreList dl { margin:0px; padding:0; height:100%;}
#hdr #navigation .more .moreList dl dd{ text-indent:0px; font-weight:bold;}
#hdr #navigation .more .moreList dl dd a{ color:#004b91; padding:2px 0; line-height:18px;}
#hdr #navigation .more .moreList dl dd a:hover{ text-decoration:underline !important; background:none !important;}
#hdr #navigation .more .moreList dl dd.sales a{ padding-top:0 !important;}
#hdr #navigation .more .moreList dl dd.new a{ border-bottom:1px solid #ddd; margin:0 0 5px 0; padding-bottom:5px;}
#hdr #navigation .nav .submenu { background:#fff; border-right:1px solid gray; border-bottom:1px solid gray; border-left:1px solid gray; text-align:left; z-index:1000;}
#hdr #navigation .nav .submenu li {display:block; float:left; clear:left; width:100%;}
#hdr #navigation .nav .submenu { padding:10px 15px 5px 15px; max-width:none;}
#hdr #navigation .nav .submenu.two-columns{width:350px;}
#hdr #navigation .nav .submenu.three-columns{width:540px;}
#hdr #navigation .nav .submenu.four-columns{width:730px;}
#hdr #navigation .nav .submenu .left-column { width:160px; float:left; padding:0;}
#hdr #navigation .nav .submenu .middle-column{float:left; margin:0; padding:0 0 0 30px; width:160px;}
#hdr #navigation .nav .submenu .right-column { width:160px; float:left; padding:0 0 0 30px; margin:0;}
#hdr #navigation .nav .submenu dl { margin:0px; padding:0; height:100%;}
#hdr #navigation .nav .submenu dl:last-child { margin:0;}
#hdr #navigation .nav .submenu dl dt{ font-weight:bold; margin:0 0 5px 0; padding:0; border-bottom:1px solid #ddd;}
#hdr #navigation .nav .submenu dl dt a{ color:#004b91 !important; padding:0 0 5px 0; text-shadow:none; line-height:18px;}
#hdr #navigation .nav .submenu dl dt a:hover{ text-decoration:underline !important; background:none !important;}
#hdr #navigation .nav .submenu dl dd{ text-indent:0px; font-weight:normal;}
#hdr #navigation .nav .submenu dl dd a{ color:#004b91 !important; padding:2px 0; text-shadow:none; line-height:18px;}
#hdr #navigation .nav .submenu dl dd a:hover{ text-decoration:underline !important; background:none !important;}
#hdr #navigation .nav .submenu dl dd:last-child{ margin-bottom:0;}
#hdr #navigation .nav .submenu dl dd a .seeAll{color:#999; font-size:11px; padding-bottom:15px; display:block;}
#hdr #navigation .nav .submenu dl dd a:hover .seeAll{color:#999 !important;}
#hdr #navigation .nav .submenu{position:absolute; display:none; z-index:1000;}
#hdr #navigation .nav .submenu .submenu{top:0; left:100%; z-index:1000;}
#hdr #navigation .nav li.hover,#hdr #navigation ul.menu li:hover{position: relative; z-index:2;}
#hdr #navigation .nav li.hover .submenu,#hdr #navigation .nav li:hover .submenu{position: absolute; display: block; z-index:2}
#hdr #navigation .nav li.hover .submenu .submenu,#hdr #navigation ul.menu li:hover .submenu .submenu{display: none !important;}
#hdr #navigation .nav .submenu li.hover .submenu,#hdr #navigation ul.menu .submenu li:hover .submenu{display: block !important; z-index:2;}
#hdr #navigation .nav li.hover,.nav li:hover{ background:#770000;}
#hdr .subnav, .breadcrumbs{ height:35px; position:relative; overflow:hidden;}
#hdr .subnav li, .breadcrumbs li{ float:left; display:inline; line-height:35px; padding-right:15px;}
#hdr .subnav li a{ font-weight:bold;}
#hdr .subnav li .sales{ background:url("../img/coupon.gif") no-repeat scroll 0 -22px; padding-left:27px;}
#hdr .subnav li .new{ background:url("../img/coupon.gif") no-repeat scroll 0 1px; padding-left:27px;}
#hdr .close{ position:absolute; top:auto; left:0; z-index:60;}
#hdr .share{width:200px; padding-top:8px; position:absolute; top:0; right:0;}
#hdr .share .googleplus{float:left; display:inline; width:100px;}
#hdr .share .facebook{float:left; display:inline; width:100px;}
.breadcrumbs{ border-top:1px solid #ddd;}
.breadcrumbs li a{ background: url("../img/arrow_red.gif") no-repeat scroll 100% 50%; padding-right:15px;}
.pin{display:block; background:#146eb4; position:fixed !important; top:0 !important; left:auto !important; z-index:100;}
/*////////////////////////LAYOUT/////////////////////////////////*/
#shell{width:990px; margin:0 auto;}
#shell #enquiry{display:none;}
#content,#primary_content,#secondary_content,.story,.column{position:relative; overflow:hidden;}
#content{ padding-bottom:30px;}

#content #primary_content,#content #secondary_content,.essential{  }
#content .pod{ position:relative; }
#content .last{ padding-bottom:0 !important; border-bottom:0 !important;}
#content .pod h1,#content .component h1,#enquiry h1{ font-weight:700 !important; padding:15px 0; text-align:left; display:block; font-size:18px;}
#content .pod h2,#content .component h2{ }
#content .pod h2 a,#content .component h2 a{ color:#333;}
#content .pod ul,#content .pod .category{ }
#content .pod ul li{ }
#content .pod ul li img{ float:left; display:inline; margin:0 10px 10px 0;}
#content .pod ul li span{ display:block;}
#content .pod .comment li, #content .pod .faqs li {margin:8px 0; padding:0 !important; height:100%; display:block;}
#content .pod .comment li p, #content .pod .faqs li  p{ margin:0 !important; font-size:11px; color:#999;}
#content .pod .comment li span, #content .pod .faqs li  span{ font-size:11px;}
#content .pod .comment li em{ color:#999; font-style:normal !important;}
#content .pod ul li .old-price,ul.grid li .old-price,.promo li .old-price{ text-decoration:line-through; color:#999;}
#content .pod .more{ display:block; font-size:11px; padding:5px 0 0; text-align:right; clear:both;}
#content .component .more{ font-size:11px; padding:5px 0 0; text-align:right; float:right;}
#content .pod .more span,#content .component .more span{  }
#content .pod .category li{ font-weight:bold; display:block; height:100%; padding:2px 0;}
#content .pod .category li a,.pod .category li span{}
#content .pod .category li dl{ font-weight:normal !important; margin:5px 0; padding-left:15px;}
#content .pod .category li dl dd em,.row .list-row li em{ font-size:11px; color:#999; font-style:normal; padding-left:5px;}
#content .pod .category li dl dd .active{ color:#E47911;}
#content .pod .category li form{}
#content .pod .category li input{ vertical-align:middle;}
#content .pod .category li label{ padding-left:5px;}
.yahoo,.skype{ margin-right:5px;}
.ads{ text-align:center !important;}
/*//////////////////////////PROMOS////////////////////////////////*/
#content #primary_content{width: 788px; padding-bottom:15px; float: right; display:inline; background:#fff;padding-left: 2px;}
#content #primary_content .component{ padding:0 0 10px 0; position:relative;}
#content #primary_content .component h2{padding:10px 0 0;}
#content #primary_content .filter{ padding:10px; border-bottom:1px dotted #CFCFCF;}
#content #primary_content .filter .sortData{ text-align:left;}
#content #primary_content .filter .sortData a{ padding-left:10px;}
#content #primary_content .filter .result{ float:right; color:#999;}
#content #primary_content .story{ padding:15px; text-align:left;}
#content #primary_content .story h1{ line-height:normal; font-size:1.8em; padding:10px 0;}
#content #primary_content .story h2{ line-height:normal; font-size:1.6em; padding:10px 0;}
#content #primary_content .story h3{ line-height:normal; font-size:1.4em; padding:10px 0;}
#content #primary_content .story h4{ line-height:normal; font-size:1.2em; padding:10px 0;}
#content #primary_content .story ul{ list-style-position:outside; list-style-image:none; margin:15px; padding:0 0 0 5px;}
#content #primary_content .story ol{ list-style:decimal; list-style-position:outside; list-style-image:none; margin:15px; padding:0 0 0 5px;}
#content #primary_content .story ul li{ margin:0 0 0 15px; list-style:circle;}
#content #primary_content .story ol li{ margin:0 0 0 15px; list-style:decimal;}
#content #primary_content .story p{ margin:10px 0;}
#content #primary_content .story .comment{ padding:0 0 15px 0; margin:10px 0; display:block;}
#content #primary_content .story .comment .sprite{ background:url(../img/sprite.gif) no-repeat scroll 20px 0; padding:6px 0 0;}
#content #primary_content .story .comment .status{ background:#e4f1f6; padding:15px; -moz-border-radius:5px; border-radius:5px; display:block;}
#content #primary_content .story .comment p{ margin:0 !important;}
#content #primary_content .story .comment span{ color:#999; font-size:11px;}
#content #primary_content .story .comment-form{ overflow:hidden; display:block;}
#content #primary_content .story .comment-form ul{ margin:0; padding:0; list-style:none outside none;}
#content #primary_content .story .comment-form ul li{ list-style:none; display:block; margin:10px 0;}
#content #primary_content .story .comment-form span{ margin-left:10px;}
#content #primary_content .story .comment-form textarea{ width:693px; height:80px; font-size:100%; padding:5px; font-family:Arial, Helvetica, sans-serif;}
#content #primary_content .story .comment-form img{ vertical-align:middle;}
#content #primary_content .story .comment-form #reload-captcha,#content #primary_content .story .comment-form #register-captcha{ margin:0 0 0 10px;}
#content #primary_content .story .comment-form .name,#content #primary_content .story .comment-form #register-captcha{ padding:2px;}
#content #primary_content .story .comment-form .submit{ width:50px; margin-left:10px; padding:1px; cursor:pointer;}
#content #primary_content .story .comment-form input{ vertical-align:middle;}
#content #primary_content .ads{ padding:5px 0; }
#content #primary_content .list-news li{ padding:10px 0; height:100%; text-align:left; clear:both;overflow: hidden; }
#content #primary_content .list-news li a { display:block; font-size:16px; font-weight:bold;margin: 0px; }
#content #primary_content .list-news img{ float:left; display:inline; margin:0px 12px 0px 0px; max-width: 222px;max-height: 142px;}
#content #primary_content .list-news .date,#content #primary_content .story .date{ display:block; color:#999; font-size:10px; margin-bottom:4px;}
#content #primary_content .news {border-top:1px dotted #CFCFCF; padding:10px;}
#content #primary_content .news h3{ font-size:16px; text-align:left; padding-bottom:5px; display:block;}
#content #primary_content .news li{ background:url("../img/bullet.png") no-repeat left 5px; margin:5px 0; padding:0 0 0 12px !important; height:100%; text-align:left;}
#content #primary_content #disqus_thread{ margin-top:20px; border-top:1px solid #eee; padding:15px;}
#content #primary_content #disqus_thread ul{ margin:0 !important; padding:0 !important;}
#content #primary_content #disqus_thread ul li{ margin: 0 3px 5px 0 !important; list-style:none outside none !important;}
#content #primary_content #disqus_thread h3{margin: 0 0 1.5em !important; padding:0 !important; font-size:inherit !important; position: static;}
#content #primary_content .share{padding:10px; text-align:right; clear:both;}

#content #secondary_content .news li{ background:url("../img/bullet.png") no-repeat left 5px; margin:5px 0; padding:0 0 0 12px !important; height:100%;}
#content #secondary_content .ads p{ font-size:10px !important; color:#999; padding:0 15px !important;}
#content #secondary_content{ width: 190px; float: left; display:inline; text-align:left; background:#fff;padding-right: 4px;}
#content #secondary_content .pod ul li img{ width:80px;}
.component .header{ color:#FFF; background:#505050 url("../images/title_bgs.gif") repeat-x scroll 0 50%; font-weight:bold; font-size:110%; padding:4px 10px !important; position:relative;}
.component .header a{ color:#FFF;}
.component a { font-size:11px; text-align: left !important;margin:5px 0;color: #313131; }
.component a:hover { color: #FF8A00; }

.promo{ margin:0; padding:15px 0; border-bottom:1px solid #cfcfcf; background:url("../img/promo-space.gif") repeat-y center}
.promo li{ width:214px; float:left; display:inline; margin:0 2px 0 0; padding:0 15px; position:relative; overflow:hidden;}
.promo li.last{ margin:0; clear:right;}
.promo li a{ display:block;}
.promo li a:hover{ text-decoration:none;}
.promo li span{ display:block;}
.promo .sales{ background:url("../img/promo-sales.png") no-repeat scroll 0 0; width:70px; height:70px; padding-top:18px; font-size:16px; font-weight:bold; color:#fff; text-transform:uppercase; display:block; float:left; position:absolute; top:0; left:15px; z-index:1; cursor:pointer;}
.promo .new{ background:url("../img/new-mark.gif") no-repeat scroll 0 0; width:20px; height:46px; text-indent:-9999em; display:block; float:left; position:absolute; top:0; left:15px; z-index:1; cursor:pointer;}
/*//////////////////////////TABBAR//////////////////////////////////////*/
#primary_content .tabbar{ height:35px; background:#f7f7f7; margin:0; padding:0; list-style:none outside none;border-bottom: 1px solid #4C2B00; }
#primary_content .tabbar li{ float:left; display:inline;}
#primary_content .tabbar li a{ line-height:35px; display:block; padding:0 15px; font-weight:bold; }
#primary_content .tabbar a.active { border: 1px solid #4C2B00;border-bottom: none; }
#primary_content .tabbar a:hover,#primary_content .tabbar .active{ background:#fff; text-decoration:none !important; }
#primary_content .tab-content{ display:block; padding:10px 0;}
#tab{ clear:both; padding:15px 0; position:relative; overflow:hidden; display:block;}
/*////////////////////////SLIDE FEATURE/////////////////////////////////*/


#number{margin:0; padding:0; position:absolute; right:10px; bottom:10px; display:block; z-index:9;}
#number a{color:#fff; font-size:11px; padding:0 6px; margin-left:3px; text-decoration:none !important; float:left;}
#number a:hover, #number .current{ color:#fff !important; background:#E47911 !important; display:block;}
.text{ width:707px; height:90px; padding:15px; background:#000; position:absolute; bottom:0; left:0; text-align:left; display:block; z-index:1;}
.text h4{color:#fff; font-size:2em; margin:0; padding:0 0 15px 0;}
.text h4 a, .text h4 a:hover, .text span{ color:#fff;}
.banner{ height:250px; border-bottom:1px solid #ddd; overflow:hidden;}
/*////////////////////////PRODUCT FEATURE////////////////////////////////*/
.essential{ background:#fff; margin-bottom:15px; padding:15px 0px; text-align:left; display:block;overflow: hidden;}
.essential .overview{ width: 290px; float:left; display:inline;margin-right: 10px; }
.essential .overview .size300{ width:300px; display:block; text-align:center;}

.essential .overview .size50{ display:block; margin:15px 0 0; padding:0;}
.essential .overview .size50 img{ max-width:50px;max-height: 50px; }
.essential .overview .size50 a{ margin:0; padding:1px; background:#eee; display:block; float:left;}
.essential .overview .size50 a:hover,.essential .overview .size50 .active{ background:#E47911;}
.essential .details { width: 480px;float: left;display:inline; }
.essential .details h3{ border-top:1px solid #eee; margin:5px 0 0; padding:10px 0 5px 0 !important;}
.essential .details em{ font-weight:normal; font-style:normal; width:123px; display:inline-block;}
.essential .details span{ font-weight:bold;}
.essential h1{ font-size:22px; padding:0 0 20px 0; line-height:normal;}
.essential h3{ font-size:1.4em; padding:20px 0 0;}
.essential p{ margin:5px 0;}
.essential table{ table-layout:fixed; margin:10px 0;}
.essential th{ background:#EDF7FF; border-top:1px solid #ddd;}
.essential th,.essential td{ padding:5px 10px; vertical-align:top;}
.essential td{ border-top:1px solid #ddd;}
.essential td input{ width:50px; text-align:center;}
.essential td img{ float:left; display:inline; width:80px; padding:0 15px 0 0;}
.essential td p{ text-align:left;}
.essential tr.total{ background:#EDF7FF;}
.essential tr .submit{ background:url(../img/order.png) no-repeat scroll 0 0; width:163px; height:36px; margin:10px 0; padding:15px 0; border:none; text-indent:-9999em; cursor:pointer;}
.essential tr .upcart{ background:url(../img/updatecart.png) no-repeat scroll 0 0; width:156px; height:36px; margin:10px 5px; padding:15px 0; border:none; text-indent:-9999em; cursor:pointer;}
.essential .sub{ text-align:right;}
.essential .col1{ width:2%; text-align:left;}
.essential .col2{ width:53%; text-align:center;}
.essential .col3{ width:12%; text-align:left;}
.essential .col4{ width:11%; text-align:center;}
.essential .col5{ width:12%; text-align:left;}
.essential .col6{ width:10%; text-align:right;}
.essential .details li{ display:block; padding:5px 0;}
.essential .details img{ vertical-align:middle;}
.essential .details .price{ font-size:16px; color:#ff5300;}
.essential .details .old-price{ font-size:16px; color:#999; text-decoration:line-through; font-weight:normal !important;}
.essential .cart{ width:186px; float:right; display:inline; clear:right;}
.essential .cart ul{ width:156px; list-style:none outside none !important; margin:0 !important; padding:15px 15px 0 15px; background:#f7f7f7; display:inline-block;}
.essential .cart ul li{ display:block; padding-bottom:10px; height:100%; position:relative;}
.essential .cart ul li h4{ display:block; margin:10px 0;}
.essential .cart .helpdesk{ padding-bottom:15px;}
.essential .cart .helpdesk li{ padding-bottom:0 !important;}
.essential .cart ul li span{ display:block;}
.essential .cart label{ padding-right:10px;}
.essential .cart select{ width:50px; vertical-align:middle;}
.essential .cart ul li input.buynow{ background:url(../img/buynow.png) no-repeat scroll 0 0; width:156px; height:36px; margin:5px 0; padding:15px 0; border:none; display:block; text-indent:-9999em; cursor:pointer;}
.essential .cart ul li input.addtocart{ background:url(../img/addtocart.png) no-repeat scroll 0 0; width:156px; height:36px; margin:5px 0; padding:15px 0; border:none; display:block; text-indent:-9999em; cursor:pointer;}
.essential .cart .li{ padding-bottom:5px !important;}
.essential .remove{background: url("../img/stop.png") no-repeat scroll 0 0 transparent; padding: 0 0 0 22px;}

.row{overflow:hidden; padding:0 0 20px 0; width:100%;}
.row .list-row{float:left; margin:0 20px 0 0; width:173px; display:inline; list-style:none outside none; padding:0;}
.row .last{ margin:0 !important;}
.row .list-row li h3{ font-weight:bold; font-size:15px; margin:0 0 5px 0 !important; padding:0 !important;}
.row .list-row li h3 a{ color:#333;}

.title{ text-align:left; font-size:18px; margin:0; padding:15px;}
.search-result .grid li{ margin-right:44px;}

.table{ table-layout:fixed; width:100%; margin:5px 0; border-top:1px solid #eee;}
.table td{ border-bottom:1px solid #eee; padding:7px 0; vertical-align:top;}
.table .col1{ width:30%; font-weight:700; color:#888; border-right:1px solid #eee; padding-right:10px;}
.table .col2{ width:70%; padding-left:10px;}
/*////////////////////////PAGINATION/////////////////////////////////////*/
ul.pagination{ clear:both; margin:15px 0 0; padding:10px 0 0; list-style:none outside none; }
ul.pagination li { display:inline; text-decoration:none;background: url("../img/new/page.png") no-repeat;padding: 7px 6px;margin-right: 10px; }
ul.pagination li a { padding:5px; text-decoration:none;font-weight: bold;font-size: 13px;width: 28px;color: #4C2B00; }
ul.pagination li.active { color: white;background: url("../img/new/page-active.png") no-repeat;padding: 7px 11px;font-weight: bold; }

ul.grid { width:100%; margin:0; padding:25px 0 20px 0; display:block;overflow: hidden;padding-left: 30px; }
ul.grid li{ width: 200px; float:left; display:inline; margin-right: 60px; text-align:center; position:relative; }
ul.grid li img { max-width: 200px; display:block; padding-bottom:10px; max-height: 160px !important; }
ul.grid li a{ display:block; text-align: center !important;}
ul.grid .last{ margin-right:0px !important;}
ul.grid .sales{ background:url("../img/sales-mark.gif") no-repeat scroll 0 0; width:20px; height:66px; text-indent:-9999em; display:block; float:left; position:absolute; top:0; left:10px; z-index:1; cursor:pointer;}
ul.grid .saleoff{ background:url("../img/km.gif") no-repeat scroll 0 0; width:20px; height:80px; text-indent:-9999em; display:block; float:left; position:absolute; top:0; left:10px; z-index:1; cursor:pointer;}
ul.grid .new{ background:url("../img/new-mark.gif") no-repeat scroll 0 0; width:20px; height:46px; text-indent:-9999em; display:block; float:left; position:absolute; top:0; left:10px; z-index:1; cursor:pointer;}
ul.grid p {margin-top:5px; text-align:left; line-height:normal;}
ul.grid p span{ display:block;}
ul.grid p span.more{color:#999; font-weight:bold;}
ul.grid p span.specials{color:#FF5400; font-style:normal;}
ul.grid .old-price,ul.grid .price{ display:block;}
/*////////////////////////FORM/////////////////////////////////////////////*/
#form{ margin:0; padding: 0px; text-align:left;}
#form li{ list-style:none outside none !important; margin: 0px !important;padding-bottom: 12px !important; }
#form fieldset{ margin:15px 0;}
#form label{ display:block;}
#form label.error,#form div.error{color:#E47911;}
#form .done{color:#669A0A;}
#form .input{ padding:3px; width:350px;}
#form .select{ padding:3px; width:358px;}
#form .textbox{ padding:3px; width:350px; height:100px; font-family:Arial,Helvetica,sans-serif; font-size:100%;}
#form .submit{ padding:3px 6px; font-weight:bold; cursor:pointer;}
#form h4{ font-weight:bold; font-size:16px;}
#form textarea.error,#form input.error{background:#FFF333;}
#form textarea.error,#form input.error{background:#FFF333;}
#form #checked{display:none; margin:15px 0;}
.billingform{padding:10px 80px 25px 80px !important;}
.billingform .left{ float:left; width:350px;}
.billingform .right{ float:right; width:350px;}
.payment-methods{padding:10px 150px 25px 150px !important;}
.payment-methods li{ display:block; border:1px solid #eee; padding:10px 10px 10px 35px; position:relative;}
.payment-methods li input{ position:absolute; top:12px; left:10px; z-index:1;}
.payment-methods li img{ width:90px; float:left; display:inline; margin-right:25px;}
.payment-methods li span{ display:block;}
.payment-methods li span b{ display:block; font-size:13px; padding-bottom:5px;}
.payment-methods li:hover{ background:#f8f8f8;}

#toplink{position:fixed !important; position:absolute; right:20px; bottom:20px !important; text-align:right; z-index:10;}
#toplink a{display:block; width:35px; height:35px; background:url("../img/backtotop.gif") top left no-repeat;}
#toplink a:hover{background:url("../img/backtotop.gif") top right no-repeat;}
/*//////////////////////////FOOTER////////////////////////////////*/
#ftr{ border-top:1px solid #cfcfcf; background:#fff; position:relative; clear:both;}
#ftr .disclaimer{ padding:50px 0 30px 0; color:#666; font-size:11px;}
#ftr .disclaimer p{ line-height:150%;}
#ftr .disclaimer .hotline{ font-size:15px;}
#ftr .disclaimer .hotline b{color:#E47911;}
#ftr .disclaimer .copyright{ padding:10px 0;}
#ftr .asset{ width:980px; margin:0 auto; clear:both; text-align:left;}
#ftr .asset h4{ font-weight:700; font-size:13px !important; padding: 0px;}
#ftr .asset ul{ float:left; display:inline; margin-left:10px; width:200px;padding-left: 10px;border-left: 1px dotted #A6A6A6; }
#ftr .asset li{ list-style:none outside none; margin:0; padding:0 0 4px 0;}
#ftr .asset .first{margin-left:0 !important;}
#ftr .asset .more{ background:url("../img/arrow_red.gif") no-repeat scroll 100% 50%; padding:0 10px 0 0;}
#ftr .asset .subscribe{ padding:0 15px 0px 15px;}
#ftr .asset .subscribe input{ margin:2px 0;}
#ftr .asset .subscribe input.input{ border:1px solid #ddd; width:183px; padding:7px 5px;}
#ftr .asset .subscribe input.submit{ border:none; background:url(../img/signup.png) no-repeat scroll 50% 50%; width:86px; height:30px; font-size:0; cursor:pointer;}
#ftr .ads{ background:#EDF7FF; padding:20px 0;}
/*////////////////////////CLEARFIX METHOD//////////////////////////////*/
.clearfix:after {  }
.clearfix{display:inline-table;}
* html .clearfix{height:1%; /*Hides from IE-mac*/} 
.clearfix{display:inline-block; /*IE7 solution*/}
.clearfix{display:block; /*Fixes width issue*/}
/*////////////////////////EXTEDED//////////////////////////////////*/
.mtop{ margin-top:10px !important;}
.line{ background:url("../img/spacer.gif") repeat-x scroll 0 0; clear:both; font-size:0; line-height:0; padding:1px 0px;}
.red{color:#ff5300;}
.green{color:#008200;}

/** HANHND ***/
.price b{
    color: #FF5300;
}

.question{
    background: url('../img/icon_guest.png') no-repeat;
}
.question span{
    margin-left: 17px;
}
.question_text {
    color: #FF0000;
    float: left;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    margin: 0 5px !important;
    padding: 0 3px;
}
.odd{
    background-color: #E9F7FC;
}
.answer{
    background: none repeat scroll 0 0 #F9F9F9;
    margin-left: 20px !important;
}
#faqs p{
     color:inherit !important
}

.pagination{
    text-align: right;
}
.pagination li{
    display: inline !important;
}

ul.grid li img {
    display: inline-block;
}
ul.grid li span {
    display: block;
}

.new-pathway { overflow: hidden !important; }